.men {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.men_banner_img {
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: flex;
}

.men_products {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    
}
.men_products h1{
    font-size: 2rem;
    font-weight: 500;
    
}

.men_banner_img_phone {
    display: none;
}

@media screen and (max-width: 800px) {
 
}
@media screen and (max-width: 600px) {
    .men_banner_img {
        display: none;
    }

    .men_banner_img_phone {
        display: flex;
        max-width: 600px;
        height: 180px;
        -o-object-fit: cover;
        object-fit: cover;
        display: flex;
    }
    .men_products {
        margin-top: 60px;
    }

}
@media screen and (max-width: 400px) {
    .men_banner_img {
        display: none;
    }

    .men_banner_img_phone {
        display: flex;
        max-width: 360px;
        height: 130px;
        -o-object-fit: cover;
        object-fit: cover;
        display: flex;
    }
    .men_products {
        margin-top: 20px;
    }

}