@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
::-webkit-scrollbar {
    display: none;
}
:root{
    --text-primary: rgb(12, 12, 12);
    --text-secondary: #656565;
    --text-white:white;
    --background:#ffffff;
}
.App{
    color: var(--text-primary);
}

body{
    background: var(--background);
    font-family: 'Roboto', sans-serif;

}