.CheckoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.CheckoutProduct__info{
    padding-left: 20px;
}
.CheckoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.CheckoutProduct__info button{
    font-family: PT Sans Narrow;
    font-size: 0.9rem;
    background: #000000;
    height: 40px;
    width: 140px;
    color: white;
border-radius: 16px;
}
.CheckoutProduct__rating{
    display: flex;
    margin-top: -30px;
}
.CheckoutProduct__title{
    font-size: 17px;
    font-weight: 600;
}