.header{
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    z-index: 100;
    transition: 0.5s;
    font-family: 'Roboto', sans-serif;
    background:rgb(255, 255, 255);
}
.header.active{
    background:rgb(255, 255, 255);
    /* backdrop-filter: blur(7px); */
}
.header a{
    text-decoration: none;
    color: black;
}
.logo{
    max-width: 50px;
    margin-top: 10px;
    margin-left: 50px;
    object-fit: contain;
}
.header__nav{
    display: flex;
    margin-right: 60px;
    align-items: center;
}
.header__nav a{
    text-decoration: none;
}
.header__option{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
    margin-top: 20px;
    transition: 0.5s;
    max-height: 60px;
}
.basket{
    margin-top: -5px;
}

.header__option h1{
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 2PX;
    color: var(--text-primary);
}
.header__option h1:hover{
}
.hambuger-menu{
    display: none;
}
.hambuger-menu a{
    color: var(--text-primary);
}
.btn{
    font-size: 1.4rem;
    margin-top: -7px;
    
}

/* media querie */
@media screen and (max-width: 800px){
    .hambuger-menu{
        display: block;

    }
    .header__nav{
        display: none;
    }
    .header__option{
        display: flex;
        align-items: left;
        justify-content: center;
        margin-top: 30px;
        transform-origin: bottom;
        transition: 1s;
    }
    .basket{
        margin-top: -5px;
    }
    .header__navPhone{
        display:flex;
        flex-direction: column;
        position: absolute;
        height: 17rem;
        width: 100%;
        background-color: rgb(255, 255, 255);
        top: 50px;
        z-index: 10;
        transition: 1s;
       
      }
      .logo{
        width: 100px;
        margin-top: 10px;
        margin-left: 20px;
    }
      .hambuger-menu {
          margin-right: 5px;
          margin-top: 5px;
      }
    .header__option h1{
        color:var(--text-primary);
    }

}
@media screen and (max-width: 400px){
    .logo{
        max-height: 30px;
        margin-top: 10px;
        margin-left: 20px;
    }

}