
.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.home_row{
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
}
/* media querie */
@media screen and (max-width: 800px){

    .home_row{
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        justify-content:center;
        align-items: center;
       
    }

}
@media screen and (max-width: 600px){

  
}